OMNIFABRIC_HOST=database.omni.jhb.cloudsigma.com
OMNIFABRIC_PORT=6001
OMNIFABRIC_ACCOUNT=019f27ec-6db6-794e-a62d-57e17f765c5b
OMNIFABRIC_USER=admin
OMNIFABRIC_ROLE=accountadmin
OMNIFABRIC_PASSWORD=
OMNIFABRIC_DATABASE=
